.navBar{
    position: relative;
    width: 100%;
    display: grid;
    background-color: white;
    color: black;
    grid-template-columns: 30% 50% 10% 10%;
    padding: 1rem;
}

.logo{
    text-align: start;
    margin-top: auto;
    margin-bottom: auto;
}

.search{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.searchBar{
    margin-top: auto;
    margin-bottom: auto;
}

.searchButton{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.buttons{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: space-evenly;
}

.links{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: space-evenly;
}