.header{
    display: grid;
    grid-template-areas: 'logo restaurant';
    grid-template-columns: 20% 70%;
    width: 100%;
}

.logo{
    width: 100%;
    grid-area: logo;
}

.menu{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1rem;
}

.picture{
    width: 100%;
}

.submitDish{
    display: none;
}

.order{
    border: solid black 1px;
}